
<div class="about__container container">
    <div class="about__data">
        <h2 class="section__title about__title">Spooky Video Player</h2>
        <figure id="video_player">
            <div id="dVideo">
            <video poster="../assets/img/pComer_niños.png">
                <source src="../media/ComerNiños.mp4" type="video/mp4">
            </video>
            </div>
            <figcaption>
                <img src="../assets/img/cComer_niños.png"  onclick="playVideo(0)">
                <img src="../assets/img/bcMAL.png" onclick="playVideo(1)">
                <img src="../assets/img/cNosVamosADrogar.png" onclick="playVideo(2)">
                <img src="../assets/img/cnos-pegan.png" onclick="playVideo(3)">
            </figcaption>
        </figure>
        <div class=buttonholder>
            <a href="" id="video-previous" class="material-icons text-body text decoration none" title="Previous">skip_previous</a>
            <a href="" id="video-stop" class="material-icons text-body decoration none" title="Stop">stop</a>
            <a href="" id="video-play" class="material-icons text-body decoration none" title="Play / Pause">play_arrow</a>
            <a href="" id="video-next" class="material-icons text-body decoration none" title="Next">skip_next</a>
            <div>
                <progress id="video-playbar" max="100" value="0"></progress>
            </div>
            <p id="pVideo">Spooky Scary Skeletons</p>
        </div>
    </div>
</div>
