
<div class="swiper home-swiper">
    <div class="swiper-wrapper">
        <!-- HOME SLIDER 1 -->
        <section class="swiper-slide">
            <div class="home__content grid">
                <div class="home__group">
                    <img src="../assets/img/madao.png" alt="" class="home__img">
                    <div class="home__indicator"></div>

                    <div class="home__details-img">
                        <h4 class="home__details-title">Madao</h4>
                        <span class="home__details-subtitle">No sabia que poner aquí, asi que he puesto a Madao por ahora</span>
                    </div>
                </div>

                <div class="home__data">
                    <h3 class="home__subtitle">Asier Fernandez Gonzalez</h3>
                    <h1 class="home__title">SOBRE MÍ</h1>
                    <p class="home__description">Mi nombre es Asier Fernández González. Soy un alumno del curso de Desarrollo de Aplicaciones Web del centro escolar Plaiaundi.
                        Esta página es un portafolio de algunas de mis asignaturas del curso (Desarrollo de Interfaces Web y Desarrollo Web entorno Cliente). Contando un poco sobre mí,
                        soy una persona que disfruta de jugar videojuegos y ver series.
                    </p>

                    <div class="home__buttons">
                        <a href="https://github.com/AsierBreyas" class="button">Mi github</a>
                        <a href="https://plaiaundi.hezkuntza.net/es/" class="button--link button--flex">Página web de Plaiuandi <i class='bx bx-right-arrow-alt button__icon'></i></a>
                    </div>
                </div>
            </div>
        </section>

        <!-- HOME SLIDER 2 -->
        <section class="swiper-slide">
            <div class="home__content grid">
                <div class="home__group">
                    <img src="../assets/img/DIW.png" alt="" class="home__img">
                    <div class="home__indicator"></div>

                    <div class="home__details-img">
                        <h4 class="home__details-title">JetBrains</h4>
                        <span class="home__details-subtitle">Es la empresa que distribuye el WebStorm, entorno de desarrollo que usamos en esta asignatura</span>
                    </div>
                </div>

                <div class="home__data">
                    <h3 class="home__subtitle">DIW</h3>
                    <h1 class="home__title">DESARROLLO <br> DE  INTERFACES  <br> WEB</h1>
                    <p class="home__description"> Esta asignartura se basa en crear interfaces y desarrollarlas para nuestras páginas web. Los trabajos que se han hecho en esta
                        asignatura son un reproductor de audio (Radio patio) y el reproductor de video (Video Player)
                    </p>

                    <div class="home__buttons">
                        <a href="https://elearning6.hezkuntza.net/012108/course/view.php?id=835" class="button">Moodle</a>
                        <a href="https://plaiaundi.hezkuntza.net/es/" class="button--link button--flex">Página web de Plaiuandi <i class='bx bx-right-arrow-alt button__icon'></i></a>                    </div>
                </div>
            </div>
        </section>

        <!-- HOME SLIDER 3 -->
        <section class="swiper-slide">
            <div class="home__content grid">
                <div class="home__group">
                    <img src="../assets/img/JavaScript.png" alt="" class="home__img">
                    <div class="home__indicator"></div>

                    <div class="home__details-img">
                        <h4 class="home__details-title">JavaScript</h4>
                        <span class="home__details-subtitle">Lenguaje que hemos aprendido este año en la asignatura</span>
                    </div>
                </div>

                <div class="home__data">
                    <h3 class="home__subtitle">DWC</h3>
                    <h1 class="home__title">DESARROLLO <br> DE APLICACIONES <br> WEB</h1>
                    <p class="home__description">Lo que hemos dado principalmente en esta asignatura es JavaScript. Empezamos con DreamWeaver dando lo basico y luego nos pasamos a crear
                        el código nosotros. Hemos hecho 10 trabajos principales, los más viejos son los más simples mientras que los de ahora son los más complejos.
                    </p>

                    <div class="home__buttons">
                        <a href="https://elearning6.hezkuntza.net/012108/course/view.php?id=430" class="button">Moodle</a>
                        <a href="https://plaiaundi.hezkuntza.net/es/" class="button--link button--flex">Página web de Plaiuandi <i class='bx bx-right-arrow-alt button__icon'></i></a>                    </div>
                </div>
            </div>
        </section>
    </div>
    <div class="swiper-pagination"></div>
</div>