
<h2 class="section__title">Desarrollo de aplicaciones Web entorno Cliente</h2>

<div class="new__container container">
    <div class="swiper new-swiper">
        <div class="swiper-wrapper">
            <div class="new__content swiper-slide">
                <div class="new__tag">1º Evaluación</div>
                <img src="../assets/img/Pajaro.jpg" class="new__img">
                <h3 class="new__title">Actividades sellos</h3>

                <button class="button new__button">
                    <a href="http://185.60.40.210/2daw3/asierf/Sellos/index.html" class="material-icons" title="Link">link</a>
                </button>
            </div>

            <div class="new__content swiper-slide">
                <div class="new__tag">1º Evaluacion</div>
                <img src="../assets/img/n0.jpg" alt="" class="new__img">
                <h3 class="new__title">Contador regresivo</h3>

                <button class="button new__button">
                    <a href="http://185.60.40.210/2daw3/asierf/Contador/index.html" class="material-icons" title="Link">link</a>
                </button>
            </div>

            <div class="new__content swiper-slide">
                <div class="new__tag">1º Evaluacion</div>
                <img src="../assets/img/Reloj.jpg" alt="" class="new__img">
                <h3 class="new__title">Reloj</h3>

                <button class="button new__button">
                    <a href="http://185.60.40.210/2daw3/asierf/Reloj/index.html" class="material-icons" title="Link">link</a>
                </button>
            </div>

            <div class="new__content swiper-slide">
                <div class="new__tag">1º Evaluacion</div>
                <img src="../assets/img/Letra.jpg" alt="" class="new__img">
                <h3 class="new__title">Letras con imagenes</h3>

                <button class="button new__button">
                    <a href="http://185.60.40.210/2daw3/asierf/string/index.html" class="material-icons" title="Link">link</a>
                </button>
            </div>

            <div class="new__content swiper-slide">
                <div class="new__tag">1º Evaluacion</div>
                <img src="../assets/img/LetrasReloj.jpg" alt="" class="new__img">
                <h3 class="new__title">String-Imagenes-Reloj</h3>

                <button class="button new__button">
                    <a href="http://185.60.40.210/2daw3/asierf/String Navideño/index.html" class="material-icons" title="Link">link</a>
                </button>
            </div>

            <div class="new__content swiper-slide">
                <div class="new__tag">1º Evaluacion</div>
                <img src="../assets/img/Puzzle.jpg" alt="" class="new__img">
                <h3 class="new__title">Puzzle</h3>

                <button class="button new__button">
                    <a href="http://185.60.40.210/2daw3/asierf/Juego/fase5.html" class="material-icons" title="Link">link</a>
                </button>
            </div>
            <div class="new__content swiper-slide">
                <div class="new__tag">1º Evaluacion</div>
                <img src="../assets/img/Test.jpg" alt="" class="new__img">
                <h3 class="new__title">Test</h3>

                <button class="button new__button">
                    <a href="http://185.60.40.210/2daw3/asierf/Preguntas VF/index.html" class="material-icons" title="Link">link</a>
                </button>
            </div>
            <div class="new__content swiper-slide">
                <div class="new__tag">1º Evaluacion</div>
                <img src="../assets/img/Baraja.jpg" alt="" class="new__img">
                <h3 class="new__title">Juego de parejas</h3>

                <button class="button new__button">
                    <a href="http://185.60.40.210/2daw3/asierf/JuegoDeCartas/index.html" class="material-icons" title="Link">link</a>
                </button>
            </div>
            <div class="new__content swiper-slide">
                <div class="new__tag">1º Evaluacion</div>
                <img src="../assets/img/Ofertas.jpg" alt="" class="new__img">
                <h3 class="new__title">Ofertas de empleo</h3>

                <button class="button new__button">
                    <a href="http://185.60.40.210/2daw3/asierf/Json/Objetos.html" class="material-icons" title="Link">link</a>
                </button>
            </div>
            <div class="new__content swiper-slide">
                <div class="new__tag">1º Evaluacion</div>
                <img src="../assets/img/Carro.jpg" alt="" class="new__img">
                <h3 class="new__title">Carrito de la compra</h3>

                <button class="button new__button">
                    <a href="http://185.60.40.210/2daw3/asierf/Carrito de compra/Carrito.html" class="material-icons" title="Link">link</a>
                </button>
            </div>
        </div>
    </div>
</div>