<h2 class="section__title">Spooky Radio Patio</h2>
<div class="patata">
    <div class="d-flex align-items-center justify-content-center align-items-center">
        <audio id="audio">
            <source src="../media/SpookyScarySkeletons.mp3" type="audio/mpeg">
        </audio>
        <div class=image>
            <div class=buttonholder>
                <a href="" id="control-previous" class="material-icons text-body text decoration none" title="Previous">skip_previous</a>
                <a href="" id="control-stop" class="material-icons text-body decoration none" title="Stop">stop</a>
                <a href="" id="control-play" class="material-icons text-body decoration none" title="Play / Pause">play_arrow</a>
                <a href="" id="control-next" class="material-icons text-body decoration none" title="Next">skip_next</a>
                <div>
                    <progress id="playbar" max="100" value="0"></progress>
                </div>
                <p id="pCancion">Spooky Scary Skeletons</p>
            </div>
        </div>
    </div>
    <div class="d-flex align-items-center justify-content-center align-items-center">
        <div class=list>
            <div class=item onclick="playAudio(0)">1. Spooky Scary Skeletons</div>
            <div class=item onclick="playAudio(1)">2. Perdió su vida en el lol</div>
            <div class=item onclick="playAudio(2)">3. Woah</div>
            <div class=item onclick="playAudio(3)">4. Doraemon</div>
            <div class=item onclick="playAudio(4)">5. Caballo Homosexual de las Montañas</div>
        </div>
    </div>
</div>